// TO DO List styles//

.todo-list{
  display: flex;
  align-items: center;
  justify-content: center;
  .todo-list-items{
    height: 500px;
    overflow: auto;
    .task-title{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 315px;
      font-size: 15px;
    }
  }
  .container{
    background-color: #FFFFFF;
    padding: 50px;
    width: 30%;
    margin-top: 51px;
    position: relative;
    .actions{
      margin-right: 20px;
      display: flex;
      align-items: baseline;
     }
    .date{
      display: flex;
      align-items: center;
      justify-content: space-between;
      span{
        display: inline-block;
      }
      .date-number{
        display: flex;
        align-items: end;
      }
      .day{
        margin-right: 6px;
      }
      .month-year{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        .month{
          line-height: 0;
        }
      }
    }
    .input-search{
      display: block;
      width: 100%;
      padding: 5px 3px;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      margin-top: 15px;
      padding-left: 10px;
      outline: 0;
      &::placeholder{
        font-size:13px;

      }
    }
    ul{
      padding-left: 0;
      list-style-type: none;
      li{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        margin-bottom: 30px;
        .fa-pencil{
          color: #a7a6a6;
        }
        .fa-trash-o{
          color: #e50000;
        }
        &.completed{
          .task-title{
            color:#EBEBEF;
            text-decoration:line-through;

          }
          .fa-check-circle{
            color: #5de5ad;
            font-size: 23px;
          }
          .fa-circle-o{
            display: none;
          }
          i{
            margin-right: 10px;
            margin-bottom: -6px;
          }
        }
        &.active{
          .fa-check-circle{
            display: none;
          }
          i{
            margin-right: 10px;
            margin-bottom: -6px;
          }
        }
      }
    }
  .add-task{
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 0;
    background-color: #4DE4A5;
    cursor: pointer;
    .fa-plus{
      color: #4ABB89;
    }
    }
  }
}

// Modal styles//
.addTaskModal{
  display: block;
  background: rgba(0, 0, 0, 0.5);
  &.fade {
    // opacity: 0;
    transition: opacity .15s linear;
    display: none;
  }
  &.fade.show {
    opacity: 1;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    .close{
      border: 0;
      background-color: transparent;
      font-size: 23px;
      opacity: 0.5;
      cursor: pointer;
    }
  }
  .modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  .modal-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    button{
      cursor: pointer;
      &.save-task{
        background-color: #4DE4A5;
        border: 0;
        color: #fff;
        padding: 6px 14px;
        border-radius: 9px;
        border: 0;
        box-shadow: navajowhite;
        box-shadow: 0px 3px 10px 0px rgb(62 192 136 / 80%);
      }
     }
  }
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}
.modal.show .modal-dialog{
    transform: translate(0,0);

}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,-25%);
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 500px;
    margin: 13.75rem auto;
}
}
